* {
    box-sizing: border-box;

}

ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 3500px;
    height: 466px;
}

ul li {
    list-style-type: none;
    float: left;
    width: 700px; 
    height: 466px;
}

#carousel {
    margin: 0 auto;
    width: 700px;
    height: 466px;
    border: 15px solid #cdd5e0;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 700px; 
    height: 466px;
}